<div>
    <h1 class="m-3">Headlines</h1>  

    <div class="list-group list-group-horizontal-md">
        <button type="button" class="list-group-item list-group-item-action">World</button>
        <button type="button" class="list-group-item list-group-item-action">US</button>
        <button type="button" class="list-group-item list-group-item-action">Politics</button>
    </div>

    <div *ngFor="let obj of articles">
        <div class="card ml-3 mt-3 w-50" *ngFor="let article of obj">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Source: {{article.source}}</h6>
                <p class="card-text">{{article.title}}</p>
                <a href="{{article.href}}" class="card-link">Article Link</a>
            </div>
        </div>
    </div>
    
</div>